<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aliyun.cs.mapper.TraceMapper">
    <resultMap id="BaseResultMap" type="com.aliyun.cs.model.Trace">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="member_uuid" jdbcType="VARCHAR" property="memberUuid"/>
        <result column="product_id" jdbcType="VARCHAR" property="productId"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        id,
        member_uuid,
        product_id,
        create_time,
        update_time
    </sql>
    <select id="getByMemberUuid" resultType="integer">
        select
       product_id
        from
        t_trace
        where
        member_uuid = #{memberUuid}
    </select>
</mapper>