<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aliyun.cs.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.aliyun.cs.model.User">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="user_uuid" jdbcType="VARCHAR" property="userUuid" />
        <result column="user_name" jdbcType="VARCHAR" property="userName" />
        <result column="user_phone" jdbcType="VARCHAR" property="userPhone" />
        <result column="user_password" jdbcType="VARCHAR" property="userPassword" />
        <result column="user_img" jdbcType="VARCHAR" property="userImg" />
        <result column="user_age" jdbcType="INTEGER" property="userAge" />
        <result column="user_birthday" jdbcType="DATE" property="userBirthday" />
    </resultMap>
    <sql id="Base_Column_List">
        id,
        user_uuid,
        user_name,
        user_phone,
        user_password,
        user_img,
        user_age,
        user_birthday
    </sql>
    <!-- 往表中插入一条数据 字段为空不插入 系统字段需要输入 -->
    <insert id="insertSelective" parameterType="com.aliyun.cs.model.User">
        insert into
            t_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="userUuid != null">
                user_uuid,
            </if>
            <if test="userName != null">
                user_name,
            </if>
            <if test="userPhone != null">
                user_phone,
            </if>
            <if test="userPassword != null">
                user_password,
            </if>
            <if test="userImg != null">
                user_img,
            </if>
            <if test="userAge != null">
                user_age,
            </if>
            <if test="userBirthday != null">
                user_birthday,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="userUuid != null">
                #{userUuid,jdbcType=VARCHAR},
            </if>
            <if test="userName != null">
                #{userName,jdbcType=VARCHAR},
            </if>
            <if test="userPhone != null">
                #{userPhone,jdbcType=VARCHAR},
            </if>
            <if test="userPassword != null">
                #{userPassword,jdbcType=VARCHAR},
            </if>
            <if test="userImg != null">
                #{userImg,jdbcType=VARCHAR},
            </if>
            <if test="userAge != null">
                #{userAge,jdbcType=INTEGER},
            </if>
            <if test="userBirthday != null">
                #{userBirthday,jdbcType=DATE},
            </if>
        </trim>
    </insert>
    <!-- 往表中批量插入数据 字段为空不插入 系统字段需要输入 -->
    <insert id="insertListSelective" parameterType="java.util.List">
        insert into
            t_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="userUuid != null">
                user_uuid,
            </if>
            <if test="userName != null">
                user_name,
            </if>
            <if test="userPhone != null">
                user_phone,
            </if>
            <if test="userPassword != null">
                user_password,
            </if>
            <if test="userImg != null">
                user_img,
            </if>
            <if test="userAge != null">
                user_age,
            </if>
            <if test="userBirthday != null">
                user_birthday,
            </if>
        </trim>
        <foreach collection="list" item="item" open="values (" close=")" separator=" ), ( ">
            <trim suffixOverrides=",">
                <if test="item.id != null">
                    #{item.id,jdbcType=INTEGER},
                </if>
                <if test="item.userUuid != null">
                    #{item.userUuid,jdbcType=VARCHAR},
                </if>
                <if test="item.userName != null">
                    #{item.userName,jdbcType=VARCHAR},
                </if>
                <if test="item.userPhone != null">
                    #{item.userPhone,jdbcType=VARCHAR},
                </if>
                <if test="item.userPassword != null">
                    #{item.userPassword,jdbcType=VARCHAR},
                </if>
                <if test="item.userImg != null">
                    #{item.userImg,jdbcType=VARCHAR},
                </if>
                <if test="item.userAge != null">
                    #{item.userAge,jdbcType=INTEGER},
                </if>
                <if test="item.userBirthday != null">
                    #{item.userBirthday,jdbcType=DATE},
                </if>
            </trim>
        </foreach>
    </insert>
    <!-- 根据主键查询数据 所有数据 -->
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
            <include refid="Base_Column_List" />
        from
            t_user
        where
            1 = 1
        and id = #{id}
    </select>
    <!-- 根据主键修改数据 字段为空不修改 所有数据 -->
    <update id="updateByPrimaryKeySelective" parameterType="com.aliyun.cs.model.User">
        update
            t_user
        <set>
            <if test="id != null">
                id = #{id,jdbcType=INTEGER},
            </if>
            <if test="userUuid != null">
                user_uuid = #{userUuid,jdbcType=VARCHAR},
            </if>
            <if test="userName != null">
                user_name = #{userName,jdbcType=VARCHAR},
            </if>
            <if test="userPhone != null">
                user_phone = #{userPhone,jdbcType=VARCHAR},
            </if>
            <if test="userPassword != null">
                user_password = #{userPassword,jdbcType=VARCHAR},
            </if>
            <if test="userImg != null">
                user_img = #{userImg,jdbcType=VARCHAR},
            </if>
            <if test="userAge != null">
                user_age = #{userAge,jdbcType=INTEGER},
            </if>
            <if test="userBirthday != null">
                user_birthday = #{userBirthday,jdbcType=DATE},
            </if>
        </set>
        where
            1 = 1
        and id = #{id,jdbcType=INTEGER}
    </update>
    <!-- 根据主键删除数据 物理删除 -->
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from
            t_user
        where
            1 = 1
        and id = #{id}
    </delete>
</mapper>